<html>
  <head>
    <link rel="stylesheet" href="css/github-markdown.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="markdown-body">
      <%= yield %>
    </div>
  </body>
</html>

